.header {
  margin-top: 0;
  height: 27vh;
  transform: scale(-1, 1);
  background-image: url("../assets/white_plant01.png");
  background-position: 100% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Caveat", cursive;
  z-index: 1000;
  background: transparent;
  border: 2px solid transparent;
  color: #666666;
  position: fixed;
  top: 0;
  right: 0;
}

.header-button {
  font-family: "Caveat", cursive;
  background: transparent;
  border: 2px solid transparent;
  color: #666666;
  position: relative;
  top: 110px;
  z-index: 1000;
}
