.header {
  margin-top: 0;
  height: 27vh;
  transform: scale(-1, 1);
  background-image: url("../assets/white_plant01.png");
  background-position: 100% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Caveat", cursive;
  z-index: 1000;
  background: transparent;
  border: 2px solid transparent;
  color: #666666;
  position: fixed;
  top: 0;
  right: 0;
}

.header-button {
  font-family: "Caveat", cursive;
  background: transparent;
  border: 2px solid transparent;
  color: #666666;
  position: relative;
  top: 110px;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #c5c5c5;
}

.github {
  font-family: "Caveat", cursive;
  font-size: 20px;
  color: black;
}
